{% include "app/header.html" %}
<title>About</title>

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
       </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/image3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3> RECTECH (READ EFFECTIVE COURSE FOR TECHNOLOGY).</h3>
            <p class="fst-italic">
              RECTECH IS A DIGITAL ONLINE LEARNNG PLATFORM WHICH ENABLE STUDENTS TO TAKE FULL ADVANTAGE OF THE NOTES OF ALL ENGINEERING SUBJECTS .IT’S MAIN OBJECTIVE IS TO COVER ALL THOSE AREAS OF INTEREST OF STUDENTS WHICH ARE LEFT UNTOUCHED OR TOUCHED OCCASIONALLY.THERE IS A LOT OF CONTRIBUTION AND BACKBREAKING WORK WHICH HAS INDUCED RECTECH.THIS SITE IS BENEFICIAL FOR ALL THOSE STUDENTS WHO ARE IN TROUBLE HAVING PROPER AND SEQUENCIAL NOTES.THE FOLLOWING PLATFORM PROVIDES YOU AN AUTHENTIC SOURCE OF LEARNING AND GROWING FROM GETTING THE BEST QUALITY NOTES.OUR TEAM IS ALWAYS THERE TO WORK CONSISTENTLY FOR ALL ROUND DEVELOPMENT OF AN INDIVIDUAL
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>Rec –Tech is a website which Faciliate engineering students with hand written notes of all subjects.</li>
              <li><i class="bi bi-check-circle"></i>Availibility of soft copies and books as well. </li>
              <li><i class="bi bi-check-circle"></i> Support from our team available at anytime.</li>
              <li><i class="bi bi-check-circle"></i>Keeps you on track of your studies.</li>
              <li><i class="bi bi-check-circle"></i>Will help you to increase your knowledge along with cracking exams.</li>
              <li><i class="bi bi-check-circle"></i>This site is Beneficial for all those students who are facing diffculties to finding proper and sequential note.</li>
            </ul>
            <p>
              The RECTECH provides you an authentic source of learning and growing from getting the best qualtiy notes.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>ABOUT</h2>
          <p>OUR VISION AND MISSION</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  
                  <h3>OUR VISION</h3>
                
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    TO PROVIDE A PLATFORM AND STRONG FOUNDATION TO THE BUDDING AND ASPIRING STUDENTS TO COMPETE, PERFORM AND ACHIEVE IN ENGINEERING EXAMS.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  
                  <h3>OUR MISSION</h3>
                  
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    TO PROVIDE GOOD NOTES FOR ENGINEERING STUDENTS SO THEY CAN GAIN A LOT OF KNOWLEDGE ALONG WITH PRO LEVEL OF PREPARATION FOR EXAMS.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                
                  <h3>SANDEEP KUMAR</h3>
                  
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  
                  <h3>SARTHAK</h3>
                  
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  
                  <h3>VISHAL</h3>
                  
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  
  {% include "app/footer.html" %}
