{% include "app/header.html" %}
<title>Civil 3rd Year </title>

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>CIVIL ENGINEERING THIRD YEAR</h2>
      
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>ENGINEERING CHEMISTRY</h4>
                 
                </div>

                <h3><a href="course-details.html">ENGINEERING CHEMISTRY</a></h3>
                
                
              </div>
            </div>
          </div>
           <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>ENGINEERING PHYSICS</h4>
                  
                </div>

                <h3><a href="course-details.html">ENGINEERING PHYSICS</a></h3>
               
              </div>
            </div>
          </div> 
          <!-- End Course Item-->
           

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>ENGINEERING MATHEMATICS</h4>
                  
                </div>

                <h3><a href="course-details.html">ENGINEERING MATHEMATICS</a></h3>
               
              </div>
            </div>
          </div> 
          <!-- End Course Item-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>ENGINEERING MATHEMATICS 2</h4>
                    
                  </div>
  
                  <h3><a href="course-details.html">ENGINEERING MATHEMATICS 2</a></h3>
                 
                </div>
              </div>
            </div> 
            <!-- End Course Item-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>EMERGING DOMAIN IN ELECTRTONICS ENGINEERING</h4>
                    
                  </div>
  
                  <h3><a href="course-details.html">EMERGING DOMAIN IN ELECTRONICS</a></h3>
                 
                </div>
              </div>
            </div> 
            <!-- End Course Item-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>BASIC ELECTRICAL ENGINEERING</h4>
                    
                  </div>
  
                  <h3><a href="course-details.html">BASIC ELECTRICAL ENGINEERING</a></h3>
                 
                </div>
              </div>
            </div> 
            <!-- End Course Item-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>FUNDAMENTAL OF MECHANICAL ENGINEERING AND MECHATROINICS</h4>
                    
                  </div>
  
                  <h3><a href="course-details.html">FUNDAMENTAL OF MECHANICAL ENGINEERING AND MECHATRONICS</a></h3>
                 
                </div>
              </div>
            </div> 
            <!-- End Course Item-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>AI FOR ENGINEERING</h4>
                    
                  </div>
  
                  <h3><a href="course-details.html">AI FOR ENGINEERING</a></h3>
                 
                </div>
              </div>
            </div> 
            <!-- End Course Item-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>EMERGING TECHNOLOGY FOR ENGINEERING</h4>
                    
                  </div>
  
                  <h3><a href="course-details.html">EMERGING TECHNOLOGY FOR ENGINEERING</a></h3>
                 
                </div>
              </div>
            </div> 
            <!-- End Course Item-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>PROGRAMMING FOR PROBLEM SOLVING</h4>
                    
                  </div>
  
                  <h3><a href="course-details.html">PROGRAMMING FOR PROBLEM SOLVING</a></h3>
                 
                </div>
              </div>
            </div> 
            <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>SOFT SKILL</h4>
                 
                </div>

                <h3><a href="course-details.html">SOFT SKILL</a></h3>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->

  {% include "app/footer.html" %}