{% include "app/header.html" %}
<title>Home</title>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>RECTECH<br>READ EFFECTIVE COURSE FOR TECHNOLOGY</h1>
      <h2>We are here to provide you best quality of notes for your semester exam.</h2>
      <a href="courses.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">

            {% load static %}
            <img src="{% static 'images/image4.jpg'%}" class="img-fluid"alt="about" height="500">
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>RECTECH (READ EFFECTIVE COURSES FOR TECHNOLOGY):</h3>
            <p class="fst-italic">
              RECTECH IS A DIGITAL ONLINE LEARNNG PLATFORM WHICH ENABLE STUDENTS TO TAKE FULL ADVANTAGE OF THE NOTES OF ALL ENGINEERING SUBJECTS .IT’S MAIN OBJECTIVE IS TO COVER ALL THOSE AREAS OF INTEREST OF STUDENTS WHICH ARE LEFT UNTOUCHED OR TOUCHED OCCASIONALLY.THERE IS A LOT OF CONTRIBUTION AND BACKBREAKING WORK WHICH HAS INDUCED RECTECH.THIS SITE IS BENEFICIAL FOR ALL THOSE STUDENTS WHO ARE IN TROUBLE HAVING PROPER AND SEQUENCIAL NOTES.THE FOLLOWING PLATFORM PROVIDES YOU AN AUTHENTIC SOURCE OF LEARNING AND GROWING FROM GETTING THE BEST QUALITY NOTES.OUR TEAM IS ALWAYS THERE TO WORK CONSISTENTLY FOR ALL ROUND DEVELOPMENT OF AN INDIVIDUAL
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>Rec –Tech is a website which Faciliate engineering students with hand written notes of all subjects. </li>
              <li><i class="bi bi-check-circle"></i>Availibility of soft copies and books as well.</li>
              <li><i class="bi bi-check-circle"></i> Support from our team available at anytime.</li>
              <li><i class="bi bi-check-circle"></i>Keeps you on track of your studies.</li>
              <li><i class="bi bi-check-circle"></i>Will help you to increase your knowledge along with cracking exams.</li>
              <li><i class="bi bi-check-circle"></i>This site is Beneficial for all those students who are facing diffculties to finding proper and sequential note.</li>
            </ul>
            <p>
              The RECTECH provides you an authentic source of learning and growing from getting the best qualtiy notes.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose RECTECH?</h3>
              <p>
                In today's world, everything is changing from offline to online .Onlinelearnning helps you to get resources to learn whatever you want to learn but there is always a problem of finding a good and systematic resources to start learning .RECTECH is a website portal that helps you to find ethical and beneficial study materials for your exam preparation. Our mission is to provide notes for Engineering students so they can enlarge their knowledge and can prepare well for their examination.
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>HANDWRITTEN NOTES</h4>
                    <p>HERE WE ARE PROVIDING THE BEST QUALITIES OF HANDWRITTEN NOTES , WHICH WILL HELP YOU FOR YOUR SEMESTER EXAMINATION.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>SYLLABUS</h4>
                    <p>SYLLABUS OF EACH YEAR OF AKTU UNIVERSITY</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-video"></i>
                    <h4>ONLINE LECTURES</h4>
                    <p>HERE FIND BEST ONLINE LECTURES RELATED TO YOUR CONFUSION IN YOUR SUBJECT.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

   

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>NOTES</h2>
          <p>POPULAR NOTES</p>
        </div>
        
          <div class="container" data-aos="fade-up">
    
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
    
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <a href="https://drive.google.com/file/d/1kwkFAxbsK61fuIYuhW3TQzRDnISF0Lgu/view?usp=sharing">
                <div class="course-item">

                    {% load static %}
                    <img src="{% static 'images/02.jpeg'%}" class="img-fluid" alt="basic electrical">
                  
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>DC CIRCUIT</h4>
                      
                    </div>
    
                    <h3><a href="course-details.html">BASIC ELECTRICAL ENGINEERING</a></h3>
                    
                    
                  </div>
                </div>
              </a>
              </div> <!-- End Course Item-->
   <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <a href="https://drive.google.com/file/d/11pmQMGAPN0XaYpL8jr-KFeHent1FTIUL/view?usp=drivesdk">
                    <div class="course-item">

                         {% load static %}
              <img src="{% static 'images/03.jpeg'%}" class="img-fluid" alt="mathematics1">
                       
                      <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4>MATRIX</h4>
                          
                        </div>
        
                        <h3><a href="course-details.html">ENGINEERING MATHEMATICS 1</a></h3>
                        
                        
                      </div>
                    </div>
                  </a>
                  </div>
              
    
               <!-- End Course Item-->
               <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <a href="https://drive.google.com/file/d/1kwkFAxbsK61fuIYuhW3TQzRDnISF0Lgu/view?usp=sharing">
                <div class="course-item">

                     {% load static %}
              <img src="{% static 'images/01.jpeg'%}" class="img-fluid" alt="Artificial intelligence"> 
                  
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>DATA AND ALGORITHM</h4>
                      
                    </div>
    
                    <h3><a href="course-details.html">ARTIFICIAL INTELLIGENCE</a></h3>
                    
                    
                  </div>
                </div>
              </a>
              </div>
    
              <!-- End Course Item-->
    
            </div>
    
          </div>
        </section>

        <!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    
    <section id="trainers" class="trainers">
     
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>TEAM</h2>
          <p>OUR TEAM</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <center>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/sandeep2.jpeg'%}" class="img-fluid" alt="Sandeep Kumar">
              <div class="member-content">
                <h4>SANDEEP KUMAR</h4>
                <span>sandeepkumarbansal0@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          </center>

          

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/vishal.jpeg'%}" class="img-fluid" alt="Sandeep Kumar">
              <div class="member-content">
                <h4>VISHAL KUMAR</h4>
                <span>vishal809070@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/kamini.jpeg'%}" class="img-fluid" alt="Kamini">
              <div class="member-content">
                <h4>KAMINI</h4>
                <span>meenadrikamini123@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/mahima.jpeg'%}" class="img-fluid" alt="Mahima">
              <div class="member-content">
                <h4>Mahima Verma</h4>
                <span>mahimaverma031@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>



        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  {% include "app/footer.html" %}

