{% include "app/header.html" %}
<title>Our Team</title>
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>OUR TEAM</h2>
       
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    
    <section id="trainers" class="trainers">
     
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>TEAM</h2>
          <p>OUR TEAM</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <center>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/sandeep2.jpeg'%}" class="img-fluid" alt="Sandeep Kumar">
              <div class="member-content">
                <h4>SANDEEP KUMAR</h4>
                <span>sandeepkumarbansal0@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          </center>

          

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/vishal.jpeg'%}" class="img-fluid" alt="Sandeep Kumar">
              <div class="member-content">
                <h4>VISHAL KUMAR</h4>
                <span>vishal809070@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/kamini.jpeg'%}" class="img-fluid" alt="Kamini">
              <div class="member-content">
                <h4>KAMINI</h4>
                <span>meenadrikamini123@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
                {% load static %}
                <img src="{% static 'images/mahima.jpeg'%}" class="img-fluid" alt="Mahima">
              <div class="member-content">
                <h4>Mahima Verma</h4>
                <span>mahimaverma031@gmail.com</span>
                
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>



        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  {% include "app/footer.html" %}

