{% include "app/header.html" %}

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>B.TECH FIRST YEAR</h2>
      
      </div>
    </div><!-- End Breadcrumbs -->

    <div class="chemistry">
        <div class="chem" style="color: rgb(88, 165, 10); font-weight: bolder;">PROGRAMMING FOR PROBLEM SOLVING</div>
        <div style="text-align: center; font-size: 24px; color: rgb(41, 79, 3); font-weight: bold;" >Handwritten Notes</div>
        <table>
        <tbody>
        <tr>
            <td width="90" height="32" style="color: rgb(88, 174, 3); font-weight: bold; font-size: 24px;">
               S.NO.
                </td>
        <td width="744" style="font-weight: bold; color: red; font-size: 24px;" >
        Subjects
        </td>
        <td width="195" style="color: blue; font-weight: bold
        ; font-size: 24px;">
        Click Here
        </td>
        </tr>
        <tr>
            <td style="color: rgb(88, 172, 3) ;">1</td>
        <td style="color: rgb(219, 12, 81);">
         INTRODUCTION TO PROGRAMMING
        </td>
        <td height="48" style="color: blue;">
        VIEW
        </td>
        </tr>
        <tr>
            <td style="color: rgb(88, 174, 2);">2</td>
        <td height="48" style="color: rgb(219, 12, 81);">
            ARITHMETIC EXPRESSIONS AND CONDITIONAL BRANCHING
             </td>
        <td style="color: blue;">
       view
        </td>
        </tr>
        <tr>
            <td style="color: rgb(92, 182, 2);">3</td>
        <td height="48" style="color: rgb(219, 12, 81);">
        LOOPS AND FUNCTIONS
        </td>
        <td style="color: blue;">
        View
        </td>
        </tr>
        <tr>
            <td style="color: rgb(99, 194, 5);">4</td>
        <td height="48" style="color: rgb(219, 12, 81);">
        ARRAYS AND BASIC ALGORITHMS
        </td>
        <td style="color: blue;">
        View
        </td>
        </tr>
        <tr>
            <td style="color: rgb(93, 179, 7);">5</td>
        <td heigt="48" style="color: rgb(219, 12, 81);">
        POINTERS AND FILE HANDLING
        </td>
        <td height="48" style="color: blue;">
        View
        </td>
        </tr>
        <tr>
            <td style="color: rgb(93, 182, 4);">6</td>
        <td height="48" style="color: rgb(219, 12, 81);">
        SYLLABUS
        </td>
        <td width="55" style="color: blue;">
        VIEW
        </td>
        </tr>
        
        </tbody>
        </table>
        <div class="chemistry">
          <div class="chem" style="color: rgb(88, 165, 10); font-weight: bolder;">PROGRAMMING FOR PROBLEM SOLVING</div>
          <div style="text-align: center; font-size: 24px; color: rgb(41, 79, 3); font-weight: bold;" >Previous year Question Paper</div>
          <table>
          <tbody>
          <tr>
              <td width="90" height="32" style="color: rgb(88, 174, 3); font-weight: bold; font-size: 24px;">
                 S.NO.
                  </td>
          <td width="744" style="font-weight: bold; color: red; font-size: 24px;" >
          Year
          </td>
          <td width="195" style="color: blue; font-weight: bold
          ; font-size: 24px;">
          Click Here
          </td>
          </tr>
          <tr>
              <td style="color: rgb(88, 172, 3) ;">1</td>
          <td style="color: rgb(219, 12, 81);">
          2020-2021
          </td>
          <td height="48" style="color: blue;">
            <a href="https://drive.google.com/file/d/10oS5UhmNEl6hampAI4OxwYPJtLxv4Mcn/view?usp=sharing">
          VIEW
          </a>
          </td>
          </tr>
          <tr>
              <td style="color: rgb(88, 174, 2);">2</td>
          <td height="48" style="color: rgb(219, 12, 81);">
              2019-2020
               </td>
          <td style="color: blue;">
         view
          </td>
          </tr>
          <tr>
              <td style="color: rgb(92, 182, 2);">3</td>
          <td height="48" style="color: rgb(219, 12, 81);">
          2018-2019
          </td>
          <td style="color: blue;">
          View
          </td>
          </tr>
          <tr>
              <td style="color: rgb(99, 194, 5);">4</td>
          <td height="48" style="color: rgb(219, 12, 81);">
          2017-2018
          </td>
          <td style="color: blue;">
          View
          </td>
          </tr>
          <tr>
              <td style="color: rgb(93, 179, 7);">5</td>
          <td heigt="48" style="color: rgb(219, 12, 81);">
          2016-2017
          </td>
          <td height="48" style="color: blue;">
          View
          </td>
          </tr>
          <tr>
              <td style="color: rgb(93, 182, 4);">6</td>
          <td height="48" style="color: rgb(219, 12, 81);">
          2015-2016
          </td>
          <td width="55" style="color: blue;">
          VIEW
          </td>
          </tr>
          
          </tbody>
          </table>
       
          {% include "app/footer.html" %}